* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}


/*Header*/


.header-container {
    display: flex;
    justify-content: center;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.header-items img {
    max-width: 120px;
}

.header-hamburger a {
    text-decoration: none;
    color: #E1C16E;
    font-size: 40px;
}

.header-button a {
    font-family: Georgia;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    border: 2px solid #E1C16E;
    background-color: #E1C16E;
    color: white;
}


/*Main*/


main {
    margin-top: 10px;
}

.gallery-container {
    display: flex;
    justify-content: center;
}

.gallery-item {
    display: flex;
    width: 90%;
}

main img {
    width: 100%;
}